<!DOCTYPE html>
<html lang="en">

<head>
    <title> Page title shown in window title </title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script type="text/javascript" src="data/menu.json"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="js/script.js"></script>
    <script src="/vue/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/nationPub.js"></script>
    <script>
        docLoaded(indexPageLoaded)
    </script>
</head>

<body>
    <header> <img class="background" src="css/unagisign.jpg" />
        <h1> Välkommen till Burger Pub</h1> </header>
    <main>
        <section id="burger">
            <table width="100%">
                <tbody>
                    <tr>
                        <td>
                            <h2>Burgare</h2>
                            <p>Välj en burgare.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <figure>
                                <h3>Hamburgare</h3> <img width="200" height="200" src="https://upload.wikimedia.org/wikipedia/commons/b/be/Burger_King_Angus_Bacon_%26_Cheese_Steak_Burger.jpg" />
                                <ul class="contents">
                                    <li>Innehåller: </li>
                                    <li> Gluten </li>
                                    <li> Fläsk </li>
                                    <li> Mjölkprotein </li>
                                </ul>
                            </figure>
                        </td>
                        <td>
                            <figure>
                                <h3>"Hamburgare"</h3> <img width="200" height="200" src="https://upload.wikimedia.org/wikipedia/commons/0/0a/Japanese_Soba_Noodles_Tsuta_01.jpg" />
                                <ul class="contents">
                                    <li>Innehåller: </li>
                                    <li> Gluten </li>
                                    <li> Fläsk </li>
                                    <li> Äggprotein </li>
                                </ul>
                            </figure>
                        </td>
                        <td>
                            <figure>
                                <h3>Hamburgare deluxe</h3> <img width="200" height="200" src="https://upload.wikimedia.org/wikipedia/commons/7/77/Hamburger_%285%29.jpg" />
                                <ul class="contents">
                                    <li>Innehåller: </li>
                                    <li> Gluten </li>
                                    <li> Fläsk </li>
                                    <li> Äggprotein </li>
                                </ul>
                            </figure>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section id="drink">
            <table width="100%">
                <tbody>
                    <tr>
                        <td>
                            <h2>Drinkar</h2>
                            <p>Välj något att dricka.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <figure>
                                <h3>Öl</h3> <img width="200" height="200" src="https://upload.wikimedia.org/wikipedia/commons/3/3e/Weizenbier.jpg" />
                                <ul class="contents">
                                    <li>Innehåller: </li>
                                    <li> Gluten </li>
                                </ul>
                            </figure>
                        </td>
                        <td>
                            <figure>
                                <h3>Läsk</h3> <img width="200" height="200" src="https://upload.wikimedia.org/wikipedia/commons/b/b2/Zevia_Cream_Soda.jpg" />
                                <form>
                                    <p>
                                        <label for="soda">Välj sort:</label>
                                        <br>
                                        <select id="soda" name="soda">
                                            <option>Coca-Cola</option>
                                            <option>Fanta</option>
                                            <option selected>Root Beer</option>
                                            <option>Ginger Ale</option>
                                        </select>
                                    </p>
                                </form>
                            </figure>
                        </td>
                        <td>
                            <figure>
                                <h3>Te</h3> <img width="200" height="200" src="https://upload.wikimedia.org/wikipedia/commons/1/14/Darjeeling-tea-first-flush-in-cup.jpg" />
                                <br>
                                <label for="sugar">Socker?</label>
                                <form id="sugar">
                                    <input checked name="hasSugar" type="radio" value="true"> Ja
                                    <input name="hasSugar" type="radio" value="false"> Nej </form>
                            </figure>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <div id="submit">
            <button v-on:click="placeOrder()" type="submit"> <img src="https://upload.wikimedia.org/wikipedia/commons/4/45/Twemoji_2705.svg">SKICKA TILL KÖK</button>
        </div>
        
        <div id="orders">
            <h1>Väntande beställningar</h1>
            <ol>
                <li v-for="(item, key) in orders" v-if="!item.done"> {{ key }} : {{ item.orderItems.join(', ') }}
                   
                </li>
            </ol>
            <h1>Färdiga beställningar</h1>
            <ol>
                <li v-for="(item, key) in orders" v-if="item.done"> {{ key }} : {{ item.orderItems.join(', ') }} </li>
            </ol>
        </div>
        
    </main>
    <footer>
        <hr>
        <p>&copy; 2017 Jakob Nyberg</p>
    </footer>
    <script src="js/kitchen.js"></script>
    <script src="js/diner.js"></script>
</body>

</html>